body{
    font: 20px /1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: rgb(207, 58, 52);
    
    
}
 .row {
    text-align: center;
    font-size: 6em;
    font-size: 30px;
    }
    

.col{
    flex-basis: 30%;
    min-width: 25px;
   margin-bottom: 30px;
}
.container{
    width: 95%;
    margin: auto;
    overflow: hidden;

}
  
ul{
    margin: 0;
    padding: 0;
}


/*header*/
header{
    background: #b8900e;
    color: rgb(241, 245, 245);
    padding-top: 20px;
    min-height: 20px;
    border-bottom:rgb(233, 31, 199) 3px solid;
}
header a{
    color: rgb(252, 248, 252);
    text-decoration:none;
    text-transform: uppercase;
    font-size: 16p;
    
}

   header li {
    float: none;
     display: inline;
     padding: 0 20px 0 20px;
    }
      header #branding{
        float: left;;
    }
     
    header#branding h1{
        margin: 20;

    }
    
    
      header nav{
        float:right;
        margin-top: 60px;

    }
    .aside#siderbar{
          float: left;
          width: 80px;
          margin: 30px;
      }
      
      article#main-col{
        float: right;
        width: 100%;
      }
      
      .degu{
          position: absolute;
          left: 300px;
          top: 300px;
          text-align: center;
          color: rgb(233, 17, 17);
          font: 5em sans-serif;
      }
      
      .fryay{
          position: absolute;
          text-align: center;
          font-family: 'Courier New', Courier, monospace;
          right: 200px;
      }
      
      
      .bars{
          display: block;
          color: rgb(20, 20, 20);
          position: absolute;
          top: 5px;
          right: 20px;
          font-size: 1em;
      }
      
    
        #myvideo
        {
            position: fixed;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            background-size: cover;
        }

      
      

    
     
    
    